body {
    background-color: rgba(163, 228, 250, 0.888);
}
.status-screen{
    /* 初期設定画面全体 */
    padding-left: 20vw;
    padding-top: 30px;
}
.syokista span{
    position: absolute;
    left: 340px;
}

.gamesc button{
    /* width: 300px; */
}
.red{
    color: red;
}
.black{
    color: #000;
}

.staset {
  position: absolute;
  left: 430px;
}
.lim{
    margin-left: 50px;
}

.start{
    position: absolute;
    left: 60vw;
    margin-top: -120px;
    width: 300px;
    height: 100px;
    
}

#sptxbox{
    /* padding-bottom: 30px; */
    position: absolute;
    bottom: 90%;
}
/* ナレーター表示ボックス */
#spebox {
    background-color: #fff;
    /* position: absolute; */
    opacity: 0.9;
    width: 220px;     /* 幅調整 */
    height: 40px;     /* 高さ調整 */
    padding-bottom: 10px;
    margin-top: 250px;

    margin-left: 25%;
    transform: translateX(-50%);
    border: solid 3px #c79533;
    z-index: 3;
    display: flex;
    align-items: center; /* 縦中央揃え */
    justify-content: center; /* 横中央揃え */
}

/* ナレーター文字 */
#speaker {
    color: #000;
    font-size: 1.0rem;
    font-family: serif;
    margin: 0; /* 余白をなくす */
}

/* メッセージボックス */
#messbox {
    /* position: absolute; */
    opacity: 0.9;
    width: 90%;
    max-width: 800px;
    height: 160px;
    /* top: 430px; */
    margin-top: 5px;
    /* left: 50%; */
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: double 10px #c79533;
    z-index: 2; /* spebox より背面に */
}

/* メッセージ内のテキスト */
#textbox {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#text {
    color: #000;
    font-size: 1.5rem;
    font-family: serif;
    margin: 0;
}

#cmd {
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* .dice-screen{
    margin-top: 30%;
    
} */
 .dicetx,.cmdtx{
    font-size: 40px;
    padding-left: 30vw;
    padding-top: 140px;
 }

 .cmd,.dicescreen{
    margin-top: 32px;
 }

.dicescreen{
    margin-left: 40%;
    display: flex;
    justify-content: center; /* 水平方向中央揃え */
    align-items: center; /* 垂直方向中央揃え */
    width: 200px;
    height: 80px;

}
.cmd1,.cmd2,.cmd3{
    width: 200px;
    height: 80px;
}

.gameovertx{
    margin-top: 200px;
    font-size: 90px;
    padding-left: 30vw;
    
}


/* .cmd button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.cmd button:hover {
  background-color: #357ABD;
} */
